*{
    margin: 0px;
}
.header{
    background-image:  linear-gradient(rgb(173, 153, 153,0.5),rgb(138, 102, 102,0.5)),url(https://th.bing.com/th/id/R.52360943442f2e81d62ea0ff3f92428a?rik=4CLIUdmZ6EubdQ&pid=ImgRaw&r=0);
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}