.box{
    width: 100% ;
    height: 500px;
    background-color: brown;
    position: relative;
}
.box-child{
    width: 100px ;
    height: 100px ;
    background-color: cornsilk;
    position: absolute;
    right: 0px ;
    bottom: 0px ;
}