*{
    margin: 0px;
}
.header{
    background-image: url(https://img.chewy.com/is/image/catalog/151612_PT2._AC_SL1500_V1545257376_.jpg);
    width: 100%;
    height: 100vh;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 20px 50px; 
    /* Position dùng để căn chỉnh vị trí  xác định theo trục x y,có thể dùng các tên kiểu như top bot left */
}